SECRET_KEY=your-secure-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres.xxxxxxxxxxxxxx
DB_PASSWORD=tu_contrasea_de_supabase
DB_HOST=aws-xxxxxxxxxxx.supabase.com
DB_PORT=5432