{% extends "base.html" %}

{% block title %}Lista de proveedores{% endblock %}

{% block content %}

    <h1 style="text-align: center;">Lista de proveedores</h1>

    {% if proveedores %}
        <div class="contenedor-body">
            <table border="1">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Razon social</th>
                    <th>Nit / RUT</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Detalle</th>
                    </tr>
                </thead>
                <tbody>
                {% for p in proveedores %}
                    <tr>
                        <td>{{ p.id }}</td>
                        <td>{{ p.razon_social }}</td>
                        <td>{{ p.nit_rut }}</td>
                        <td>{{ p.email }}</td>
                        <td>{{ p.telefono }}</td>
                        <td><button><a href="{% url "proveedores:detalle" p.id %}">Ver</a></button></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h3 style="text-align: center;">No hay proveedores</h3>
    {% endif %}
{% endblock %}